.task-list table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
.task-list th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}
.task-list td {
    padding: 5px;
    border: 1px solid black;
}

#loadImg{
    display:none
}